<div id="modal-window" class="display-none modal-window">
	<header>
		<span id="modal-window-title" class="modal-window__title">{{modalHeader}}</span>
	</header>
	<main>
		<span id="modal-window-message" class="modal-window__message">CSS TEST</span>
	</main>
	<footer>
		<button id="modal-window-close" class="modal-window__button-close" class="button button-confirm">Close</button>
	</footer>
</div>
<div id="modal-overlay" class="display-none modal-overlay"></div>