<section id="SliderContainerId" class="advanced-search-wrapper content-box">
	<button id="SliderContainerId-toggle">trigger</button>
	<div id="SliderContainerId-content" class="sliderY-hidden">
        {# DEPLOYABLE CONTENT #}
	</div>
</section>
